*,
:root,
*::after,
*::before {
    /** */
    --prime: 32 138 243;
    --acent: 110 179 247;
    /** */
    --black: 29 29 29;
    --white: 254 254 254;
    --light: 245 245 245;
    --shade: 209 209 209;
    --r-thin: 4px;
    --r-huge: 10px;
    --w-thin: 600;
    --w-huge: 800;
    --shadow: 0px 2px 10px -8px rgb(var(--black) / 100%);
}

::-webkit-search-cancel-button,
 ::-webkit-inner-spin-button,
 ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

::-webkit-scrollbar {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    height: 5px;
    width: 5px;
}

body::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(209 213 219 / 1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(156 163 175 / 1);
}

* {
    box-sizing: border-box;
    font-family: inherit;
}

input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

body[close] {
    height: 100dvh;
    overflow: hidden;
}

body[close]>#neo-page-cover {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    height: 100dvh;
    inset: 0;
    z-index: 999999;
    background-color: rgb(var(--light));
    background-image: radial-gradient(circle, rgba(var(--prime) / .1) 0%, rgba(var(--acent) / .05) 100%);
}

.bg-x-gradient {
    background-image: radial-gradient(circle, rgba(var(--prime) / .1) 0%, rgba(var(--acent) / .05) 100%);
}

neo-select,
neo-textbox,
neo-password,
neo-textarea,
neo-explorer,
neo-datepicker,
neo-timepicker,
neo-autocomplete,
neo-imagetransfer {
    border: 1px solid rgb(var(--shade) / 1);
    background-color: rgb(var(--white) / 1);
}

neo-select::part(content),
neo-sidebar::part(content),
neo-dropdown::part(content),
neo-datepicker::part(content),
neo-timepicker::part(content),
neo-autocomplete::part(content) {
    box-shadow: var(--shadow);
    border: unset;
}

neo-button,
neo-select,
neo-textbox,
neo-password,
neo-textarea,
neo-explorer,
neo-datepicker,
neo-timepicker,
neo-autocomplete,
neo-imagetransfer,
neo-datavisualizer::part(wrapper),
neo-datavisualizer::part(search-wrapper) {
    border-radius: var(--r-thin);
}

neo-select,
neo-button,
neo-textbox,
neo-password,
neo-textarea,
neo-explorer,
neo-datepicker,
neo-timepicker,
neo-autocomplete,
neo-imagetransfer {
    padding: 1rem;
}

neo-select-item,
neo-autocomplete::part(item) {
    padding: .5rem 1rem;
}

neo-button {
    padding-block: .813rem;
}

neo-datavisualizer::part(topbar) {
    border-bottom: 1px solid rgb(var(--shade) / 1);
    padding: .75rem 1.5rem;
    margin: 0;
}

neo-datavisualizer::part(wrapper) {
    border-radius: 0 !important;
    border: unset;
}

neo-datavisualizer::part(header) {
    font-weight: var(--w-thin);
    font-size: 1.25rem;
    line-height: 1.75rem;
}

neo-datavisualizer::part(header),
neo-datavisualizer::part(tools) {
    margin: 0;
}

neo-datavisualizer::part(tools) {
    margin-inline-start: auto;
}

neo-datavisualizer::part(search-wrapper) {
    border: 1px solid rgb(var(--shade) / 1);
    background-color: rgb(var(--white) / 1);
}

neo-datavisualizer::part(wrapper),
neo-datavisualizer::part(table-body-row) {
    border-color: rgb(var(--shade) / 1);
}

neo-datavisualizer::part(table-body-col) {
    padding-block: .75rem;
}

neo-datavisualizer::part(table-empty-col) {
    font-weight: var(--w-thin);
    background-color: rgb(var(--white) / 1);
}

neo-topbar::part(content) {
    height: 100%;
    gap: .5rem;
}

neo-stepper::part(wrapper) {
    background: rgb(var(--white));
    border-radius: var(--r-thin);
    box-shadow: var(--shadow);
    padding: 1.5rem;
    gap: 1.5rem;
}

neo-stepper::part(separator) {
    background: rgb(var(--white));
}

neo-stepper::part(chip:not(.active):not(.validate)) {
    background: rgb(var(--white));
}

.richtexteditor,
.richtexteditor rte-line-break,
.richtexteditor rte-toolbar {
    border-color: rgb(var(--shade) / 1) !important;
}

.richtexteditor {
    background-color: rgb(var(--white) / 1) !important;
}

@media (min-width: 1024px) {
    neo-select::part(content),
    neo-dropdown::part(content),
    neo-datepicker::part(content),
    neo-timepicker::part(content),
    neo-autocomplete::part(content),
    neo-datavisualizer::part(filter-content) {
        border-radius: var(--r-thin);
    }
    neo-sidebar {
        border: unset;
        box-shadow: none;
        background: transparent;
        backdrop-filter: none;
    }
    neo-topbar::part(content) {
        gap: 1rem;
    }
}