@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*,
*::after,
*::before {
    font-family: "Poppins", sans-serif;
}

html[lang="ar"] *,
html[lang="ar"] *::after,
html[lang="ar"] *::before {
    font-family: 'Cairo', sans-serif;
}

:root {
    /** */
    --prime: 32 138 243;
    --acent: 110 179 247;
    /** */
    --black: 29 29 29;
    --white: 254 254 254;
    --light: 245 245 245;
    --shade: 209 209 209;
    --r-thin: 4px;
    --r-huge: 10px;
    --w-thin: 600;
    --w-huge: 800;
    --shadow: 0px 2px 10px -8px rgb(var(--black) / 100%);
}

* {
    box-sizing: border-box;
}

@page {
    margin: 0;
    padding: 0;
    size: "A4";
}

body {
    background-color: rgb(var(--white));
}

#backgroun-image {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    pointer-events: none;
    z-index: -99999;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    padding: 16px;
    opacity: .05;
}

#header {
    height: 114px;
}

#main {
    padding: 16px;
}

#footer {
    height: 64px;
}

.table-head-col {
    background-color: rgb(var(--prime));
    color: rgb(var(--white));
}

#page-header {
    inset: 16px 0 auto 0;
    width: 100%;
    position: fixed;
    gap: 16px;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    display: flex;
}

#page-header .content {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

#page-header #logo {
    display: block;
    height: 58px;
}

#page-header h1 {
    color: rgb(var(--black) / 100%);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

#page-header .banner {
    display: block;
    height: 30px;
}

#page-header .banner:first-child {
    width: 14%;
    background-color: rgb(var(--black) / .9);
    border-end-end-radius: var(--r-thin);
    border-start-end-radius: var(--r-thin);
}

#page-header .banner:last-child {
    flex: 1;
    background-color: rgb(var(--prime));
    border-start-start-radius: var(--r-thin);
    border-end-start-radius: var(--r-thin);
}

#page-footer {
    inset: auto 0 0 0;
    width: 100%;
    position: fixed;
    padding-bottom: 16px;
    background-color: rgb(var(--black) / .9);
}

#page-footer .banner {
    height: 16px;
    background-color: rgb(var(--prime));
}

#page-footer .content {
    height: 32px;
}